# Logistic Regression
Tennis Data

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as pp
%matplotlib inline

In [6]:
#read in the data
td = pd.read_csv('Tennis data.csv')
td.head(5)

,Player1,Player2,Result,FSP,FSW,SSP,SSW,ACE,DBF,NPA,NPW
0,Richard Gasquet,Michael Russell,1,63,55,64,16,7,7,6,59
1,Stephane Robert,Albano Olivetti,1,61,56,77,19,3,2,6,56
2,Jan-Lennard Struff,Guillaume Rufin,0,55,39,47,32,11,13,3,55
3,Aljaz Bedene,Dmitry Tursunov,0,52,59,39,19,13,8,6,55
4,Feliciano Lopez,Florent Serra,1,58,46,50,30,21,3,6,61